* {
    padding: 0px;
    margin: 0px;
}

/* Jeu */
#score {
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreFont {
    font-size: 2em;
    font-weight: bold;
    
}

#game {
    margin: auto;
    width: 700px;
    height: 350px;
    border: 1px black solid;
    background: url('sprites/backgroundgame.jpg');
}

#gameOver {
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 700px;
    text-shadow: 0px 0px 4px black;
    position:absolute;
    top: 80px;
    text-align: center;
    font-size: 5em;
    opacity: 0%;
}

.gameOverAnimate {
    animation: opacity 2s;
}

/* Joueur */
#player {
    height: 32px;
    width: 32px;
    position: relative;
    top: 220px;
    
}

.playerRun {
    background: url('sprites/Pink_Monster_Run_6.png');
    animation: spritePlayer 0.4s steps(6) infinite;
}

.playerJump {
    background: url('sprites/Pink_Monster_Jump_8.png');
    animation: jump 500ms, jumpAnimation 500ms steps(8);
}

.playerDeath {
    background: url('sprites/Pink_Monster_Death_8.png');
    animation: playerDeath 2s steps(8);
}

/* Ennemis */
#enemy {
    height: 48px;
    width: 48px;
    position: relative;
    top: 171px;
    left: 652px;
}

.enemy1 {
    background: url('sprites/monstersRun/Hyena_walk.png');
    /* animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 1s infinite linear; */
}

.enemy2 {
    background: url('sprites/monstersRun/Deceased_walk.png');
    /* animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 1s infinite linear; */
}

.enemy3 {
    background:url('sprites/monstersRun/Mummy_walk.png');
    /* animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 1s infinite linear; */
}

.enemy4 {
    background: url('sprites/monstersRun/Scorpio_walk.png');
    /* animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 1s infinite linear; */
}

.enemy5 {
    background: url('sprites/monstersRun/Snake_walk.png');
    /* animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 1s infinite linear; */
}

.enemy6 {
    background: url('sprites/monstersRun/Vulture_walk.png');
    /* animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 1s infinite linear; */
}

.enemy6SpritesSlow {
    animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 1500ms infinite linear;
}

.enemy4SpritesSlow {
    animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 1500ms infinite linear;
}

.enemy6SpritesMedium {
    animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 1s infinite linear;
}

.enemy4SpritesMedium {
    animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 1s infinite linear;
}

.enemy6SpritesFast {
    animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 800ms infinite linear;
}

.enemy4SpritesFast {
    animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 800ms infinite linear;
}

.enemy6SpritesImpossible {
    animation: spriteEnemy 0.4s steps(6) infinite, enemyRun 600ms infinite linear;
}

.enemy4SpritesImpossible {
    animation: spriteEnemy4Sprites 0.4s steps(4) infinite, enemyRun 600ms infinite linear;
}
/* Animations */
@keyframes opacity {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes playerDeath {
    0% {background-position: 0px;}
    100% {background-position: -256px;}
}

/* Animation pour faire courir le joueur */
@keyframes spritePlayer {
    from {
        background-position: 0px;
    }

    to {
        background-position: -192px;
    }
}

/* Faire courir le monstre */
@keyframes spriteEnemy {
    0% {background-position: 0px;}
    100% {background-position: -288px;}
}

@keyframes spriteEnemy4Sprites {
    0%{background-position: 0px;}
    100%{background-position: -192px;}
}

/* Déplace le monstre de droite à gauche */
@keyframes enemyRun {
    0% {left: 652px}
    100% {left: -30px}
}
/* Anime le saut du joueur */
@keyframes jump {
    0% {top: 220px}
    30% {top: 100px}
    70% {top: 100px}
    100% {top: 220px}
}

/* Anime le sprite du joueur quand il saute */
@keyframes jumpAnimation {
    0% {background-position: 0px;}
    100% {background-position: -256px;}
}